:root {
  --web-env-main-color: #ffffff;
  --cubic-bezier-ease-in-out: cubic-bezier(0.4, 0, 0.2, 1);
}

.container {
  // 取消用户选中
  -moz-user-select: none;
  -webkit-user-select: none;
  user-select: none;
  background-color: var(--web-env-main-color);
  transition: 0.35s var(--cubic-bezier-ease-in-out);
  min-width: 180px;
  height: 260px;
  border-radius: 5px;
  padding: 10px;
  overflow-y: scroll;
}

.empty {
  min-width: 180px;
  height: 260px;
  display: flex;
  justify-content: center;
  align-items: center;
}
