.container {
  padding: 20px;
}

.icons {
  width: 70px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btns {
  width: 110px;
  height: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
